<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fw-bold"
      >DKI Jakarta
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Profil</a></li>
      <li>
        <a href="/rumahadat" class="nav-link px-2 link-secondary">Rumah Adat</a>
      </li>
      <li>
        <a href="/galeri" class="nav-link px-2 link-secondary">Galeri</a>
      </li>
      <li>
        <a href="/tempat" class="nav-link px-2 link-secondary">Tempat</a>
      </li>
      <li>
        <a href="/kuliner" class="nav-link px-2 link-secondary">Kuliner</a>
      </li>
    </ul>

    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Account
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item disabled" href="#">Profile</a></li>
        <li>
          <a class="dropdown-item" href="./login/logout">Logout</a>
        </li>
      </ul>
    </div>

    <!-- <div class="col-md-3 text-end">
      <a href="/login" type="button" class="btn btn-outline-primary me-2"
        >Login</a
      >
      <a href="/register" type="button" class="btn btn-primary">Sign-up</a>
    </div> -->
  </header>
</div>
