<%- include('./includes/header'); %>

 

<main class="container">
  

<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://i.pinimg.com/564x/15/ef/85/15ef85c8b3bea7594dce142815ffe915.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="https://i.pinimg.com/736x/c6/6d/98/c66d98b942d66bd8a0d978c00e578f70.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://i.pinimg.com/564x/17/59/c2/1759c277aa5be6223af3b3f755a7a6e1.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="https://i.pinimg.com/564x/c2/c7/69/c2c769a1990778765d277711a4ca5eee.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://i.pinimg.com/564x/67/c3/23/67c32329cd499909d872f685f0dbc03b.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="https://i.pinimg.com/564x/21/78/3e/21783e799e490345876cbe1e64186a51.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://i.pinimg.com/564x/6c/f4/9d/6cf49d46d0332f3925cdb0bd5ba84156.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="https://i.pinimg.com/564x/05/31/7c/05317c9d4606aadc2dd4fa460bffd551.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://i.pinimg.com/564x/bb/d5/e1/bbd5e1856eafa2aca8773510bebb3982.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="https://i.pinimg.com/564x/7b/eb/3f/7beb3fe0d321c7501248e162bf0b2b2e.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>

</div>
<!-- Gallery -->

</main>

  <%- include('./includes/footer'); %>