<%- include('./includes/header'); %>



<main class="container">
<div class="my-5">
      <p class="text-center fw-semibold fs-1">Halaman Kuliner yang wajib dicicipi di Jakarta</p>
    </div>
<hr>
  <div class="row g-5">
    <div class="col-md-8">
      <h1 class="pb-4 mb-4 border-bottom">
        1. Kerak Telor
      </h1>
      <div class="row mb-2">
            <img src="https://img.okezone.com/content/2020/06/22/298/2234131/rayakan-hut-dki-jakarta-bikin-kerak-telor-di-rumah-yuk-P6OVMIX9xJ.jpg" alt="food" style="height: 500px; object-fit:cover">
      </div>

      <article class="blog-post">
        <h2 class="blog-post-title">Bahan</h2>
        <p class="blog-post-meta"><a href="#"></a></p>

        <p>6 sdm beras ketan, rendam semalam dan tiriskan
2 buah telur bebek
2 sdt udang kering, rendam, sangrai dan haluskan
2 sdm kelapa parut setengah tua, sangrai
1 sdm bawang goreng,
1 sdm cabai merah iris,
sangrai dan haluskan 1 sdt garam.</p>
        <hr>
        <h2 class="blog-post-title">Alat</h2>
        <p>Wajan.
Spatula.
Kompor.
Sendok.
Pisau.
Wadah.</p>
        <hr>
        <h2 class="blog-post-title">Cara Memasak</h2>
        <p>1. Kocok telur bebek, masukkan udang kering, bumbu yang dihaluskan, bawang goreng, dan kelapa sangrai. Aduk rata.
2. Panaskan wajan dadar antilengket. Tuang setengah bagian ketan. Ratakan di permukaan wajan. Masak hingga setengah matang.
3. Tuang setengah bagian telur kocok berbumbu. Ratakan di seluruh permukaan sambil ditekan-tekan. Setelah bagian bawahnya matang, dapat dibalik agar matang merata. Angkat. Hidangkan kerak telor selagi panas.</p>
      </article>
    </div>

     <div class="row mb-2" style="height: 500px; width:'100%'">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9C3805AvgyY" allowfullscreen></iframe>
      </div>

<!-- MAKANAN KEDUA -->


<div class="row g-5">
  <div class="col-md-8">
    <h1 class="pb-4 mb-4 border-bottom">
      2. Roti Buaya
    </h1>
    <div class="row mb-2">
     <img src="https://awsimages.detik.net.id/community/media/visual/2020/08/26/roti-buaya-makanan-ikonik-betawi_43.jpeg?w=700&q=90" alt="food" style="height: 500px; object-fit:cover">
    </div>

      <article class="blog-post">
        <h2 class="blog-post-title">Bahan</h2>
        <p class="blog-post-meta"><a href="#"></a></p>

        <p>sediakan tepung terigu 1000 gr ( protein tinggi )
siapkan gula pasir 250 gr
siapkan margarine 100 gr
siapkan susu bubuk 15 gr
siapkan telur 3 butir
siapkan 25 gr ragi
siapkan 70 cc air es
siapkan garam 15 gr
siapkan pewarna secukupnya</p>
        <hr>
        <h2 class="blog-post-title">Alat</h2>
        <p>Wajan.
Spatula.
Kompor.
Sendok.
Pisau.
Wadah.</p>
        <hr>
        <h2 class="blog-post-title">Cara Memasak</h2>
        <p>Mulai dengan membuat adonan yakni mencampurkan semua bahan jadi satu kemudian mixer sampai menjadi adonan yang halus.
Diamkan maksimal hingga 30 menit supaya adonan mengembang pas.
Kemudian, bisa menimbang adonan sesuai ukuran yang diinginkan selanjutnya bentuk roti buaya.
Panggang ke dalam oven panas sampai matang kecoklatan.
Campurkan dahulu ragi dan air, aduk sampai larut, tambahkan telur, aduk merata. Selanjutnya bisa memasukkan terigu, gula dan margarin dan uleni hingga kalis.
Kemudian tutup adonan dengan kain dan diamkan hingga kurang lebih 1 jam sampai adonan mengembang.
Kempiskan adonan dan bisa mengisi dengan isian sesuai selera. Bentuk adonan dalam bentuk buaya. Buat sisik, mulut dan mata buaya yakni menggunting permukaan adonan. Diamkan roti hingga 15 menit.
Selanjutnya bisa mengolesi roti dengan campuran kuning telur dan juga air. Panggang sampai matang sekitar 10 hingga 15 menit ke dalam oven bersuhu 150 derajat Celsius.
Angkat adonan dan bisa untuk sajikan segera.</p>
      </article>
    </div>

     <div class="row mb-2" style="height: 500px; width:'100%'">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OAbljOaJ2QI" allowfullscreen></iframe>
      </div>


</main>



  <%- include('./includes/footer'); %>