<%- include('./includes/header'); %>    

<main>

  <div class="container">
    <div class="my-5">
      <p class="text-center fw-semibold fs-1">Halaman Tempat yang wajib dikunjungi di Jakarta</p>
    </div>
    <hr>
      <article class="blog-post">
        <h3 class="blog-post-title">1. Taman Mini Indonesia Indah</h3>
        <img src="https://i.pinimg.com/564x/8a/b2/76/8ab276957bc9b10dbcc963a77bed4f60.jpg" width="50%" alt="First slide">
        <p class="blog-post-meta"><a href="#"></a></p>

        <p>Taman Mini Indonesia Indah (TMII) merupakan suatu kawasan taman wisata bertema budaya Indonesia di Jakarta Timur. Area seluas kurang lebih 150 hektare atau 1,5 kilometer persegi ini terletak pada koordinat 6°18′6.8″LS,106°53′47.2″BT. Taman ini merupakan rangkuman kebudayaan bangsa Indonesia, yang mencakup berbagai aspek kehidupan sehari-hari masyarakat 26 provinsi Indonesia (pada tahun 1975) yang ditampilkan dalam anjungan daerah berarsitektur tradisional, serta menampilkan aneka busana, tarian, dan tradisi daerah. Di samping itu, di tengah-tengah TMII terdapat sebuah danau yang menggambarkan miniatur kepulauan Indonesia di tengahnya, kereta gantung, berbagai museum, dan Teater IMAX Keong Mas dan Teater Tanah Airku), berbagai sarana rekreasi ini menjadikan TMIII sebagai salah satu kawasan wisata terkemuka di ibu kota.</p>
        <p>Aktivitas-aktivitas yang bisa dilakukan di Taman Mini Indonesia Indah adalah melihat Anjungan daerah, Bangunan keagamaan, Sarana rekreasi, Banyak taman, museum, teater atau bioskop dan perpustakaan.</p>
        <h5>Lokasi Tempat : </h5>
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.704936102205!2d106.89296721473977!3d-6.302445895438654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ed50d076a261%3A0x73127b9ecf2da0c!2sTaman Mini Indonesia Indah!5e0!3m2!1sid!2sid!4v1658551119851!5m2!1sid!2sid" width="100%" height="80%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <p>Referensi : <a href="https://id.wikipedia.org/wiki/Taman_Mini_Indonesia_Indah">Wikipedia</a> dan <a href="https://www.tamanmini.com/pesona_indonesia/">Taman Mini</a></p>
        <hr>
      </article>   
      <article class="blog-post">
        <h3 class="blog-post-title">2. Dunia Fantasi</h3>
        <img src="https://i.pinimg.com/564x/18/39/af/1839af3a7150cbee681603fd4e4b134f.jpg" width="50%" alt="First slide">
        <p class="blog-post-meta"><a href="#"></a></p>
        
        <p>Dunia Fantasi atau yang lebih populer dengan sebutan Dufan, pertama kali dibuka untuk umum pada 29 Agustus 1985 dan merupakan theme park pertama yang dikembangkan oleh Perseroan dan telah memiliki sertifikat ISO 9001:2015 sejak Februari 2017.

Selain menjadi pusat hiburan outdoor, Dufan juga merupakan kawasan edutainment fisikia terbesar di Indonesia yang memanjakan pengunjung dengan Fantasi Keliling Dunia, melalui wahana permainan berteknologi tinggi, yang terbagi dalam 9 (Sembilan) kawasan yaitu Indonesia, Jakarta, Asia, Eropa, Amerika, Yunani, Hikayat, Kalila dan Fantasy Lights.

Fasilitas umum untuk pengunjung : Gratis pinjam Stroller Bayi dan Kursi Roda, Free Wifi, Charger Point, Toilet bersih disetiap kawasan dan wahana, Baby Care Room, Mushola dan Masjid, P3K & Ambulance.</p>
        <p>Aktivitas-aktivitas yang bisa dilakukan di Dufan 67 Wahana yang bisa dicoba seperti Kereta misteri, Mola-mola dan masih banyak lagi. Selain itu ada banyak Pertunjukan yang bisa kamu nikmati.</p>
        <h5>Lokasi Tempat : </h5>
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.0400536195757!2d106.83134901473902!3d-6.1253123955648805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6a1e1a80420c57%3A0x275b93253d2232e3!2sDunia Fantasi!5e0!3m2!1sid!2sid!4v1658551281228!5m2!1sid!2sid" width="100%" height="80%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        
        </div>
        <p>Referensi : <a href="https://www.ancol.com/unit-rekreasi/dunia-fantasi--2">Ancol</a> dan <a href="https://id.wikipedia.org/wiki/Dunia_Fantasi">Wikipedia</a></p>
        <hr>
      </article>      
  </div>     
    

</main>

  <%- include('./includes/footer'); %>